@import "@fortawesome/fontawesome-free/css/all.css";
@import 'swiper/css/bundle';
@import 'toastr/build/toastr.min.css';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

@layer utilities {
    .fa-6x {
        font-size: 6em;
    }

    .transform-center {
        transform: translate(50%, -50%);
        top: 50%;
        right: 50%;
    }

    .menu li > *:not(ul):not(.menu-title):not(details).active {
        @apply text-white;
        @apply bg-app-card;
        cursor: pointer;
    }

    .menu li > *:not(ul):not(.menu-title):not(details) {
        @apply h-14;
        @apply flex;
    }

    .app-card {
        @apply shadow-xl;
        @apply card;
        animation: app-card-pop var(--animation-btn, 0.25s) ease-out;
    }

    .pop-anim {
        animation: app-card-pop var(--animation-btn, 0.25s) ease-out;
    }

    @keyframes app-card-pop {
        0% {
            transform: scale(0.9);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }

    .drawer-content-container {
        min-height: calc(100vh - 4rem - 140px); /* 4rem = header height, 168px = footer height */
        @apply p-6;
        @apply w-full;
    }

    .transform-center-scaled {
        transform: translate(50%, -50%) scale(3);
        top: 50%;
        right: 50%;
    }
}

.btn-orange-gradient {
    background: linear-gradient(90deg, rgba(255, 229, 0, 1) 0%, rgba(255, 144, 0, 1) 100%);
}

.btn-blue-gradient {
    background: linear-gradient(to right top, #2cb0f1, #20a4e9, #1597e0, #0c8bd7, #097fce);
}

.text-orange-gradient {
    background: linear-gradient(90deg, rgba(255, 229, 0, 1) 0%, rgba(255, 144, 0, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

 .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

 html, body {
    scroll-behavior: smooth;
 }

[x-cloak] {
    display: none;
}

/* Toastr Styling Start */
.toast > .toast-title {
    @apply text-base;
    @apply font-semibold;
    @apply text-white;
    @apply text-neutral;
    @apply text-wrap;
}

.toast > .toast-message {
    @apply text-xs;
    @apply font-medium;
    @apply flex;
    @apply items-center;
    @apply text-wrap;
    @apply text-neutral;
    @apply dark:text-white;
}

.toast > .toast-message > .btn {
    background-color: #FFEEE4;
    border-radius: 16px;
    font-size: 10px;
    font-weight: medium;
    color: black;
}

.toast > .toast-progress {
    background-color: #000;
    animation: none;
}

/* Toast Error */

#toast-container > .toast-error.toast::before {
    content: '';
    background: url('/public/images/toastr/error.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

#toast-container > .toast-error::after {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgba(240, 66, 72, 0.25) 0%, rgba(240, 66, 72, 0) 100%);
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

/* Toast Error */

/* Toast Success */

#toast-container > .toast-success.toast::before {
    content: '';
    background: url('/public/images/toastr/success.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

#toast-container > .toast-success::after {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 237, 81, 0.25) 0%, rgba(0, 237, 123, 0) 100%);
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

/* Toast Success */

/* Toast Warning */

#toast-container > .toast-warning.toast::before {
    content: '';
    background: url('/public/images/toastr/warning.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

#toast-container > .toast-warning::after {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 212, 38, 0.11) 0%, rgba(255, 212, 38, 0) 100%);
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

/* Toast Warning */

/* Toast Info */

#toast-container > .toast-info.toast::before {
    content: '';
    background: url('/public/images/toastr/info.png') no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
}

#toast-container > .toast-info::after {
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, rgba(38, 118, 255, 0.11) 0%, rgba(255, 212, 38, 0) 100%);
    width: 240px;
    height: 240px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -60px;
    transform: translateY(-50%);
}

/* Toast Info */

#toast-container > .toast {
    background-image: none!important;
    @apply !p-3.5;
    @apply !pl-12;
    @apply z-[9999];
    @apply !opacity-100;
    @apply !bg-transparent;
    @apply backdrop-blur-md;
    @apply shadow-lg;
    @apply ring-1;
    @apply ring-black/5;
    @apply !rounded-xl;
}

#toast-container > .toast:hover {
    @apply shadow-xl;
}

video.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
/* Toastr Styling End */

.checked-success {
    @apply checked:!bg-green-500;
}

.checked-success:disabled {
    @apply opacity-100;
}

.checked-error {
    @apply checked:!bg-red-500;
}

.checked-error:disabled {
    @apply opacity-100;
}

/* landig page */

.fitur-bg.dark {
    background: linear-gradient(to right, #191919 0%, #222222 50%, #191919 100%);
}

.fitur-bg.light {
    /* background: linear-gradient(to right, #f9f9f9 0%, #f1f1f1 50%, #f9f9f9 100%); */
    background: radial-gradient(circle at 0% 0.5%, rgb(241, 241, 242) 0.1%, rgb(224, 226, 228) 100.2%);
}

.hero-mirai.dark {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(25, 25, 25) 0%, rgb(0, 0, 0) 99.4%);
}

.hero-mirai.light {
    background: radial-gradient(circle at 24.1% 68.8%, #fdfbfb 0%, #ebedee 99.4%);
}

.hero-mirai > h1.dark {
    background: linear-gradient(to right, #ffffff 0%, #999999 100%);
}

.hero-mirai > h1.light {
    background: linear-gradient(to right, #000000 0%, #999999 100%);
}

.mirai-gradient {
    background: linear-gradient(to right, #FF83F3 0%, #0094FF 100%);
}

.bw-gradient.dark {
    background: linear-gradient(90deg, #FFFFFF 0%, #999999 100%);
}

.bw-gradient.light {
    background: linear-gradient(90deg, #000000 0%, #999999 100%);
}

.class-gradient.dark {
    background: linear-gradient(90deg, #0084FF 0%, #FFFFFF 100%);
}

.class-gradient.light {
    background: linear-gradient(90deg, #0084FF 0%, #000000 100%);
}